{{ $curLanguageName := .Site.Language.LanguageName }}
{{ $url := .Site.BaseURL }}
<header>
  <div class="header-title">
    <a href="{{ .Site.LanguagePrefix }}/"
      >{{ or .Site.Params.headTitle .Site.Params.Author }}</a
    >
  </div>
  <div class="header-subtitle">{{ .Site.Params.Description }}</div>
</header>
<div class="row end-md header-items">
  {{ range .Site.Menus.main }}
  <div class="header-item">
    <a href="{{ $url }}{{ .URL }}">{{ .Name }}</a>
  </div>
  {{ end }}
  {{ range .Site.Params.socials }}
  <div class="header-item">
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
  </div>
  {{ end }}
  {{ range .Site.Languages -}} {{ if ne .LanguageName $curLanguageName }}
  <div class="header-item">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
</div>
<div class="header-line"></div>
